/* whole page stuff */

* {
/*	border: 1px solid blue;*/
	margin: 0;
	padding: 0;
	font-size: 18px;
}

body {
	max-width: 1000px;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	color: black;
}

.clearfix:after {
	content:"";
	display:block;
	clear:both;
}

/* text stuff */

p {
	margin:16px;
}

h1 {
	font-family:'Ceviche One', cursive;
	color:red;
	font-size:28px;
	line-height:1;
	}

#header, #intro {
	line-height: 1.5;
}

#header {
	text-align:center;
	
	}

#header span {
	font-family: 'Ceviche One', cursive;
	font-size: 30px;
	color:red;
}

#intro strong{
	color:red;
	font-family:'Ceviche One', cursive;
	font-size:24px;
}

#header em {
	font-size:16px;
}

.course-list {
	text-align:center;
	line-height:2;
	padding:16px;
}

.course-list img {
	margin:16px auto;
}

/* image stuff */

img {
	display: block;
	margin: 16px;
}
	
#logo {
	max-width: 200px;
	margin:16px auto;
}

#red-cross-logo {
	margin:16px auto;
}

#profile-pic {
	
	max-width: 250px;
	border: 1px;
	border-radius: 100%;
	margin:16px auto;
}

/* responsive stuff */	

@media (min-width:615px) {
	#logo {
		float: left;
		margin:16px;
	}
	
	#header-text {
		float:left;
		width:275px;
		text-align: left;
		margin-top:16px;
	}
	
	#red-cross-logo {
		clear:none;
		float:right;
		margin:16px;
	}
	
	#profile-pic {
		float: right;
		margin:16px;
	}
	
	#intro p {
		margin: 16px;
	}
		
}

@media (min-width:770px) {
	
	#header-text {
		margin-top: 140px;
	}
	
	#red-cross-logo {
		margin-top: 111px;
	}
}